// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Define fonts for body and headers
$body-font: "Open Sans", "Roboto", "sans-serif";
$headers-font: "Open Sans", "Roboto", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }



@font-face {
    font-family: 'TrajanPro';
    src: url('TrajanPro.eot');
    src: url('TrajanPro.eot') format('embedded-opentype'),
         url('TrajanPro.woff2') format('woff2'),
         url('TrajanPro.woff') format('woff'),
         url('TrajanPro.ttf') format('truetype'),
         url('TrajanPro.svg#TrajanPro') format('svg');
}
$trajan: "TrajanPro";


@font-face {
    font-family: 'TungstenMedium';
    src: url('TungstenMedium.eot');
    src: url('TungstenMedium.eot') format('embedded-opentype'),
         url('TungstenMedium.woff2') format('woff2'),
         url('TungstenMedium.woff') format('woff'),
         url('TungstenMedium.ttf') format('truetype'),
         url('TungstenMedium.svg#TungstenMedium') format('svg');
}

$tungsten: "TungstenMedium";

@font-face {
    font-family: 'GothamNarrowMedium';
    src: url('GothamNarrowMedium.eot');
    src: url('GothamNarrowMedium.eot') format('embedded-opentype'),
         url('GothamNarrowMedium.woff2') format('woff2'),
         url('GothamNarrowMedium.woff') format('woff'),
         url('GothamNarrowMedium.ttf') format('truetype'),
         url('GothamNarrowMedium.svg#GothamNarrowMedium') format('svg');
}
$gotham: "GothamNarrowMedium";


@font-face {
    font-family: 'GothamNarrowLight';
    src: url('GothamNarrowLight.eot');
    src: url('GothamNarrowLight.eot') format('embedded-opentype'),
         url('GothamNarrowLight.woff2') format('woff2'),
         url('GothamNarrowLight.woff') format('woff'),
         url('GothamNarrowLight.ttf') format('truetype'),
         url('GothamNarrowLight.svg#GothamNarrowLight') format('svg');
}

$gotham-light: "GothamNarrowLight";
