// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Define fonts for body and headers
$body-font: "Open Sans", "Roboto", "sans-serif";
$headers-font: "Open Sans", "Roboto", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }



@font-face {
    font-family: 'TrajanPro';
    src: url('fonts/TrajanPro.eot');
    src: url('fonts/TrajanPro.eot') format('embedded-opentype'),
         url('fonts/TrajanPro.woff2') format('woff2'),
         url('fonts/TrajanPro.woff') format('woff'),
         url('fonts/TrajanPro.ttf') format('truetype'),
         url('fonts/TrajanPro.svg#TrajanPro') format('svg');
}
$trajan: "TrajanPro";


@font-face {
    font-family: 'TungstenMedium';
    src: url('fonts/TungstenMedium.eot');
    src: url('fonts/TungstenMedium.eot') format('embedded-opentype'),
         url('fonts/TungstenMedium.woff2') format('woff2'),
         url('fonts/TungstenMedium.woff') format('woff'),
         url('fonts/TungstenMedium.ttf') format('truetype'),
         url('fonts/TungstenMedium.svg#TungstenMedium') format('svg');
}

$tungsten: "TungstenMedium";

@font-face {
    font-family: 'GothamNarrowMedium';
    src: url('fonts/GothamNarrowMedium.eot');
    src: url('fonts/GothamNarrowMedium.eot') format('embedded-opentype'),
         url('fonts/GothamNarrowMedium.woff2') format('woff2'),
         url('fonts/GothamNarrowMedium.woff') format('woff'),
         url('fonts/GothamNarrowMedium.ttf') format('truetype'),
         url('fonts/GothamNarrowMedium.svg#GothamNarrowMedium') format('svg');
}
$gotham: "GothamNarrowMedium";


@font-face {
    font-family: 'GothamNarrowLight';
    src: url('fonts/GothamNarrowLight.eot');
    src: url('fonts/GothamNarrowLight.eot') format('embedded-opentype'),
         url('fonts/GothamNarrowLight.woff2') format('woff2'),
         url('fonts/GothamNarrowLight.woff') format('woff'),
         url('fonts/GothamNarrowLight.ttf') format('truetype'),
         url('fonts/GothamNarrowLight.svg#GothamNarrowLight') format('svg');
}

$gotham-light: "GothamNarrowLight";
