// Specific CSS for your home-page
.landing-background {
  // background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2), url('banner.jpg'));
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 100%), asset-url('landing_background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  // position: absolute;
  width: 100%;
  // height: 100vh;
  height: calc(100%);
  top: 0;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.margin-top{
  margin-top: 20px;
}

.landing-text {
  opacity: 1;
  text-align: center !important;
  font-weight: bold !important;
  color: white !important;
  font-size: 70px;
  margin: 0px;
  font-family: $trajan;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3);
}

.landing-sub-text {
  opacity: 1;
  color: #00243d !important;
  text-align: center !important;
  font-size: 50px;
  padding-bottom: 0px;
  margin-top: 0px;
  font-family: $tungsten;
}

.margin-left-10{
  margin-left: 10px;
}
.banner-buttons {

  text-align: center;

  a {
    color: white;
    }
  input, a, p {
    background-color: #00243d;
    color: white;
    border: none !important;
    font-family: $tungsten;
    font-size: 28px;
  }
  input:hover, a:hover, p:hover {
    background-color: white;
    color: #00243d;
    transform: scale(1.07);
    transition: 0.25s ease;
  }
 }


.banner-script {
  color: white !important;
  font-size: 20px;
  font-family: $gotham-light;
}

