<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
              <h5 class="text-uppercase">CHARACTERIZE</h5>
              <p>Number of possible character combinations: &infin;</p>
              <p>If you can actually do the math, please contact us.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                  <li>
                    Contact us: characterizesite@gmail.com
                  </li>
                  <li>
                    <a href="https://github.com/Zhof/characterize"><i class="fa fa-github"></i> Our GitHub Repository!</a>
                  </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://www.characterize.site">Characterize.site</a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

