<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">CHARACTERIZE</h5>
                <p>Zach you are better at writing than I am... Say what's cool about Characterize? I don't know, some filler content... cool.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://github.com/Zhof/characterize">Check Out our GitHub Repository!</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="https://www.characterize.site"> Characterize.site </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

