<div>
  <h5>CHARACTERIZE</h5>
</div>
<div>
  <p>Number of possible character combinations: &infin;</p>
  <p>If you can actually do the math, please contact us.</p>
</div>
<div>
  <a href="https://github.com/Zhof/characterize" style="color:white;"><i class="fa fa-github"></i> Our GitHub Repository!</a>
</div>
<div>
 <p>© 2018 Copyright Characterize.site</p>
</div>




