<div>
  <h5>CHARACTERIZE</h5>
</div>
<div>
  <p>Number of possible character combinations: &infin;</p>
  <p>If you can actually do the math, please <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">contact us</a>.</p>
</div>
<div>
  <p><a href="https://github.com/Zhof/characterize" style="color:white;"><i class="fa fa-github"></i> Our GitHub Repository</a></p>
</div>
<div>
 <p>© 2018 Copyright Characterize.site</p>
</div>




