<div class="landing-background">
  <h1 class="landing-text">CHARACTERIZE</h1>
  <div style="text-align: center;">
    <span class="banner-script"></span>
  </div>
  <div class="banner-buttons">
    <%= link_to new_generation_path do %>
      <p class="btn btn-primary">QUICK STORY</p>
    <% end %>
    &nbsp;
    &nbsp;
    <%= link_to new_character_path do %>
      <p class="btn btn-primary">CUSTOM STORY</p>
    <% end %>
  </div>
</div>
