<div class="landing-background">
  <h1 class="landing-text">CHARACTERIZE</h1>
  <h2 class="landing-sub-text">BUILD YOUR BACKSTORY</h2>
  <div style="text-align: center;">
    <span class="banner-script"></span>
  </div>
  <div class='btn-wrapper'>
    <%= link_to new_generation_path, class: "banner-buttons" do %>
      <p class="btn btn-primary">QUICK STORY</p>
    <% end %>
    <%= link_to new_character_path, class: "banner-buttons"  do %>
      <p class="btn btn-primary">CUSTOM STORY</p>
    <% end %>
  </div>
</div>
