.landing-text h1 {
  font-weight: lighter;
  margin-top: 90px;
  padding-bottom: 10px;
  color: #4D4D4D;
}

.index-title {
  font-family: tangerine;
  font-size: 90px;
}

.title p {
  font-family: tangerine;
  font-size: 60px;
  color: white;
}

.index-container {
  a, a:hover {
    text-decoration: none;
  }

}

.character-card {
  // position: relative;
  transition: 0.3s;
  width: 375px;
  height: 250px;
  // background: #FFFFFF;
  background: linear-gradient(180deg, rgba(62, 72, 87, 1) 40%, rgba(255, 255, 255, 1) 40%);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px 40px 40px 40px;
  margin-top: 75px;
}

.index-container .character-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  margin: 0 auto;
  width: 90vw;
}

.index-container .character-grid a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-card:hover {
  box-shadow: 10px 10px 15px rgba(0,0,0,0.15);
}

.avatar {
  position: absolute;
  max-width: 87px;
  max-height: 127px;
  right: 30px;
  top: 40px;
}

.content-header {
  height: 90px;
  display: flex;
  align-items: center;
}

.content-header h4 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 22px;
  color: white;
  text-align: left;
  padding-top: 15px;
  padding-left: 30px;
  max-width: 265px;
}

.content-body p {
  padding: 25px 30px;
  font-size: 20px;
}

.top-color {
  background-color: blue;
  height: 30%;
}
