.landing-text h1 {
  font-weight: lighter;
  margin-top: 90px;
  padding-bottom: 10px;
  color: #4c4f62;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.3);
}

.index-title {
  font-family: tangerine;
  font-family: "TrajanPro";
  font-size: 36px;
  margin: 0;
  color: #04283b;
  text-align: left;
  margin-top: 110px;
}

.index-container {
   width: 100%;
   height: 100%;
   padding-bottom: 15px;
   a, a:hover {
    text-decoration: none;
  }

}

.character-card {
  transition: 0.3s;
  height: 250px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
  margin-top: 75px;
  background-color: white;
}

.index-container .character-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  margin: 0 auto;
  width: 90vw;
}

.index-container .character-grid a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-card:hover {
  box-shadow: 10px 10px 15px rgba(0,0,0,0.15);
}

.avatar {
  position: absolute;
  max-width: 87px;
  max-height: 110px;
  right: 30px;
  top: 40px;
}

.content-header {
  height: 90px;
  display: flex;
  align-items: center;
}

.content-header h4 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 22px;
  color: white;
  text-align: left;
  padding-top: 15px;
  padding-left: 20px;
  max-width: 200px;
}

.content-body p {
  padding: 25px 30px 0px 30px;
  font-size: 20px;
}

.top-color {
  background-color: blue;
  height: 30%;
}

.flex-std {
    display: flex;
}
.margin-bottom-30{
  margin-bottom: 30px;
}

.log-out{
  font-family: "TungstenMedium";
}
