
.container {
  width: 80%;
  padding: 2px 16px;
}

h2 {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 40px;
}

.character-card {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  min-height: 350px;
  border-radius: 5px;
}

.character-card:hover {
  box-shadow: 0 15px 15px 0 rgba(0,0,0,0.2);
}

.avatar {
  width: 25%;
  height:30%;
  // border-radius: 50%;
  position: absolute;
  top: 70%;
  left: 1%;
}

.content-header h4 {
  font-weight: bold;
  padding-left: 90px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-right: 20px;
}

.content-body p {
  margin-top: 10px;
  padding: 10px;
  text-align: justify;
}
