.character-build {
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.build-form {
  min-width: 540px;
  margin-top: 50px;
}

#confirm {
  margin-top: 40px;
  margin-left: 165px;
}

#name-label {
  margin-bottom: 45px;
}

#character_name {
  margin-bottom: 10px;
}

.title p {
  font-family: tangerine;
  font-size: 60px;
  color: white;
}

