
.build-form {
  min-width: 540px;
  margin-top: 35px;
}

#confirm {
  margin-top: 40px;
  margin-left: 165px;
}

#name-label {
  margin-bottom: 45px;
}

#character_name {
  margin-bottom: 10px;
}

.title p {
  font-family: tangerine;
  font-size: 60px;
  color: white;
}

.character-build-container {
  
}

.character-build {
}

.character-choice {
  padding: 10px;
  text-align: center;
  background-color: lightgrey;
  width: 50%;
  margin: 10px;
  cursor: pointer;

  label {
    cursor: pointer;
  }

  input {
    display: none;
  }

  &.wide {
    width: 80%;
  }
}

.character-choice-selected {
  background-color: green !important;
}

.character-attribute-section {
  // height: 0px;
  // overflow: hidden;
  // transition: all 1000ms;

  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#character-name {
  width: 80%;
  height: 60px;
}