.character-build {
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.character-sheet {
  width: 600px;
}

.character-sheet-head {

}

.character-sheet-body {
  background: linear-gradient(180deg, rgba(247, 247, 247, 0) 65%, #F7F7F7 100%), rgba(62, 72, 87, 1);
  height: 550px;
}


.stats {

}

.story {

}

.paper {
  position: relative;
  width: 600px;
  height: auto;
}
