.build-buttons {
  min-width: 540px;
  text-align: center;
}

#story {
  background: transparent;
  outline: none;
  border: none;
  color: white;
  width: 550px;
}

.character-sheet {
  display: inline-block;
  text-align: center;
}

.row {
  margin: 5px;
}

#save-story {
  background-color: #727d89;
}
