<div class="character">
  <%= image_tag "barbarian.png", class:"image" %>
  <h2 class="name">THAT BLOND GUY</h2>
  <div class="card">
    <div class="desc">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quae laudantium minus placeat facere, quibusdam voluptate doloremque eaque dolorum qui accusamus totam libero molestiae aspernatur non ex, quod ipsa possimus!</p>
    </div>
  </div>
</div>

<div class="buttons">
  <%= link_to 'RANDOM AGAIN', new_character_path, class:"btn" %>
  <%= link_to 'I LIKE THIS', characters_path, class:"btn" %>
  <%= link_to 'BUILD CHARACTER', characters_path, class:"btn" %>
</div>
