<div id="first-part">
  <%= render "characters/stats" %>
</div>

<div id="second-part" style="display: none">
  <%= render "characters/story" %>
</div>

<script>
  const button = document.getElementById("confirm");
  const attributesList = document.getElementById("attributes-list");
  button.addEventListener("click", (event) => {
    event.preventDefault();
    document.getElementById("first-part").style.display = "none";
    document.getElementById("second-part").style.display = "initial";
    let attributes = document.getElementById("attributes").children;
    attributesList.innerHTML =
      `<h4> ${attributes.character_name.value} </h4>
      <dt>Race</dt>
      <dd> ${attributes.race.value} </dd>
      <dt>Class</dt>
      <dd> ${attributes.character_job.value} </dd>
      <dt>Alignment</dt>
      <dd> ${attributes.character_alignment.value} </dd>
      <dt>Background</dt>
      <dd> ${attributes.background.value} </dd>
      <dt>Personality Traits</dt>
      <dd> ${attributes.personality_traits.value} </dd>
      <dt>Ideal</dt>
      <dd> ${attributes.ideals.value} </dd>
      <dt>Bond</dt>
      <dd> ${attributes.bonds.value} </dd>
      <dt>Flaw</dt>
      <dd> ${attributes.flaws.value} </dd>`;
  });
  let respond = true;
  const storyary = [];
  const story = document.getElementById("story");
  const wordbuttons = document.querySelectorAll("button.word-selection");
  wordbuttons.forEach(function(wordbutton) {
    wordbutton.addEventListener("click", (event) => {
      var word = event.srcElement.innerText;
      if(respond) {
        respond = false;
        fetch(`<%= generate_story_path %>?word=${word}`, {
          credentials: "same-origin"
        })
        .then(response => {
          return response.json();
        })
        .then((data) => {
          respond = true
          // grab array of new words
          data.suggestions.forEach(function(suggestion, index) {
            wordbuttons[index].innerText = suggestion
          });
          // replace all existing word buttons with new words
          storyary.push(data.word)
          story.value = storyary.join(' ');
        });
      }
    });
  });
  const sentenceGenerator = document.getElementById("generate-sentence");
  sentenceGenerator.addEventListener("click", (event) => {
    let curr_word = "";
    if(storyary.last) {
      curr_word = storyary.last;
    }
    if(respond) {
      respond = false;
      fetch(`<%= generate_sentence_path %>?word=${curr_word}`, {
        credentials: "same-origin"
      })
      .then(response => {
        return response.json();
      })
      .then((data) => {
        respond = true;
        storyary.push(data.sentence);
        story.value = storyary.join(' ');
      });
    }
  });
  const save = document.getElementById("save-story")
  save.addEventListener("click", (event) => {
    let attributes = document.getElementById("attributes").children
    fetch("/characters", {
      method: 'post',
      actions: 'create',
      headers:{
        'X-Requested-With': 'XMLHttpRequest',
        'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        'Content-Type': 'application/json',
      },
      credentials: 'same-origin',
      body: JSON.stringify({
        name: attributes.character_name.value,
        race: attributes.race.value,
        job: attributes.character_job.value,
        alignment: attributes.character_alignment.value,
        background: attributes.background.value,
        personality_traits: attributes.personality_traits.value,
        ideal: attributes.ideals.value,
        bond: attributes.bonds.value,
        flaw: attributes.flaws.value,
        story: story.value
      })
    }).then((response) => {
      window.location = "/characters";
    });
  });
  const restart = document.getElementById("restart-story");
  restart.addEventListener("click", (event) => {
    storyary.length = 0;
    story.value = "";
    wordbuttons.forEach(function(wordbutton) {
      var word = wordbutton.innerText;
      wordbutton.innerText = word.charAt(0).toUpperCase() + word.slice(1);
    });
  });
  const edit = document.getElementById("edit-characteristics");
  edit.addEventListener("click", (event) => {
    event.preventDefault();
    console.info('running');
    document.getElementById("first-part").style.display = "initial";
    document.getElementById("second-part").style.display = "none";
  });

  // TODO
  // if story.value.last == "." change wordbuttons.innerText to capitalize
</script>

