<div id="first-part">
  <%= render "characters/stats" %>
</div>

<div id="second-part" style="display: none">
  <%= render "characters/story" %>
</div>

<script>
  const button = document.getElementById("confirm");
  button.addEventListener("click", (event) => {
    event.preventDefault();
    console.info('running');
    document.getElementById("first-part").style.display = "none";
    document.getElementById("second-part").style.display = "initial";
  })
</script>

