.chacter-select-btn {
  background-color: rgba(62, 72, 87, 0.75);
  color: white;
  line-height: 2;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 23px;

  label {
    margin: 0;
  }
}

.chacter-select-btn:hover {
  background-color: #59778D;
  color: white;
  box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.25);
  // transition: 0.2s;
  // transform: scale(1.01);
}
