/* Main navbar */
.navbar-wagon {
  position: relative;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: rgba(4,38,59,1) ;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-home{
  background: transparent !important;
  box-shadow: none;
}
/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

.navbar-wagon-item:hover {
  color: #4F6C7D
}

/* Navbar link */
.navbar-wagon-link {
  color: white;
  font-size: 14px;
}

.logout {
  color: white;
}

.navbar-wagon-link:hover {
  color: #506D7D;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  background-color: #02253C;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
// .navbar-wagon-dropdown-menu:before {
//   content: ' ';
//   height: 10px;
//   width: 10px;
//   position: absolute;
//   right: 10px;
//   top: -6px;
//   background-color: white;
//   transform: rotate(45deg);
//   border-left: 1px solid #E6E6E6;
//   border-top: 1px solid #E6E6E6;
// }

.icons{
  font-family: "TrajanPro";
  font-size: 8px;
  margin: 0;
  color: white;
  text-align: left;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    p{
      margin: 0;
    }
}
.icons img {
  // position: absolute;
  width: 50px;
  height: 50px;
}

.icons:hover {
  transform: scale(1.13);
  transition: 0.25s;

}

.menu-icons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: 150px;
  min-width: 17%;
  //width: 250px;
}

.sticky {
  z-index: 2;
  position: fixed;
  top: 0px;
  width: 100%;
}

// .tooltip {
//     position: relative;
//     display: inline-block;
// }

// .tooltip .tooltiptext {
//     visibility: hidden;
//     width: 120px;
//     background-color: black;
//     color: #fff;
//     text-align: center;
//     padding: 5px 0;
//     border-radius: 6px;
//     width: 120px;
//     top: 100%;
//     left: 50%;
//     margin-left: -60px;
//     position: absolute;
//     z-index: 1;
// }

// .tooltip:hover .tooltiptext {
//     visibility: visible;
// }
